<!-- Form add starts -->
      <form class="addform">
        <fieldset>
        <input type="item" name="item" placeholder="Наименование" />
        <select>
          <option disabled>Выберите категорию</option>
        <option>Мебель</option>
        <option>Строительные материалы</option>
        <option>Электронная техника</option>
        <option>Смеси</option>
            </select>
        <input type="number" autofocus placeholder="Количество" />
        <input type="sum" id="quantity" name="sum" placeholder="Сумма" />
        <input type="submit" value="Добавить">
        </fieldset>
      </form>
<!-- Form add ends -->