<center>
        	<img width="220" src="https://byroglaz.kz/images/unnamed.png">
       		<div class="greeting"> iSanau 
            удобный сервис по учету расходов компании на строительных объектах BI Group
            <p>Для того,чтобы начать работу войдите или зарегистрируйтесь</p>
            <%= link_to "Войти", new_user_session_path, {:class=>"greeting"}%>
            <%= link_to "Зарегистрироваться", new_user_registration_path, {:class=>"greeting"}%>
       		</div>

</center>
