<table class="table table-striped">
            <thead>
              <tr>
                <th class="hash" scope="col">#</th>
                <th style="text-align: center" scope="col">Дата</th>
                <th scope="col">Наименование</th>
                <th scope="col">Категория</th>
                <th scope="col">Количество</th>
                <th scope="col">Сумма</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <th scope="col">30.06.2018</th>
                <td>Шкаф</td>
                <td>Мебель</td>
                <td>2</td>
                <td>250000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th scope="col">30.06.2018</th>
                <td>Цемент 25 кг мешок</td>
                <td>Смеси</td>
                <td>5</td>
                <td>30000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <th scope="col">30.06.2018</th>
                <td>Обои</td>
                <td>Интерьер</td>
                <td>10</td>
                <td>30000</td></tr>
            </tbody>
</table>